/*----------------------------------  
Global Styles
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	/* Background pattern from Subtle Patterns */
	background: url('../img/ignasi_pattern_s.png');
	font-family: "Roboto", "Open Sans", sans-serif;
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 4em;
}

ul > li {
	list-style: none;
}

/*----------------------------------  
Header
------------------------------------*/

h1 {
	font-size: 6em;
	padding-bottom: 0.5em;
}

p {
	font-size: 2em;
}

/*----------------------------------  
Section - Score Panel
------------------------------------*/

.score-panel {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  font-size: 2em;
  width: 25%;
}

.star-rating > li {
  display: inline-block;
}

/*----------------------------------  
Deck of Cards
------------------------------------*/
/*Mobile first responsivness*/
.deck {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 30em;
  height: 30em;
}

.card {
  background: #f2c94c;
  border-radius: 2em;
  cursor: pointer;
  height: 6em;
  padding: 1em;
  width: 6em;
}
