/*----------------------------------  
Global Styles
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	/* Background pattern from Subtle Patterns */
	background: url('../img/ignasi_pattern_s.png');
	font-family: "Roboto", "Open Sans", sans-serif;
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 4em;
}

ul > li {
	list-style: none;
}

.card,
.reset-btn {
    cursor: pointer;
}

/*----------------------------------  
Header
------------------------------------*/

h1 {
	font-size: 5em;
	padding-bottom: 0.5em;
}

p {
	font-size: 1.8em;
}

/*----------------------------------  
Section - Score Panel
------------------------------------*/

.score-panel {
	font-size: 1.8em;
  padding: 2em;
}

.star-rating > li {
  display: inline-block;
  /*color: #2f80ed;*/
  padding: 0.5em;
}

.moves-counter {
	padding: 0.5em;
}

.reset-btn {
	background: #000;
	border-radius: 1em;
	border: none;
	color: #fff;
	margin-top: 1em;
	padding: 1em;
}

/*----------------------------------  
Deck of Cards
------------------------------------*/
/*Mobile first responsivness*/
.deck {
  background: linear-gradient(to bottom, #56ccf2, #2f80ed);
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 30em;
  height: 30em;
}

.card {
  background: #f2c94c;
  border-radius: 2em;
  height: 6em;
  padding: 1em;
  width: 6em;
}

/*---------------------------------- 
Media Queries
------------------------------------*/

/*--Tablets-------------------------*/

@media screen and (min-width: 550px) {

	.deck  {
		height: 50em;
		padding: 2em;
		width: 50em;
	}

	.card {
		height: 10em;
		width: 10em;
	}
}

/*---------------------------------- 
Desktops
------------------------------------*/
@media screen and (min-width: 800px) {
	
	h1 {
		font-size: 6em;
	}

	p {
		font-size: 2em;
	}

	.deck  {
		height: 70em;
		width: 70em;
	}

	.card {
		height: 15em;
		width: 15em;
	}

	.reset-btn {
		font-size: 0.8em;
	}
}